[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vimfiles/neobundle.vim"]
	path = vimfiles/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "zshcustom/plugins/zsh-syntax-highlighting"]
	path = zshcustom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zshcustom/plugins/zsh-autosuggestions"]
	path = zshcustom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
