[submodule "vimfiles/vundle.git"]
	path = vimfiles/vundle.git
	url = http://github.com/gmarik/vundle.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vimfiles/neobundle.vim"]
	path = vimfiles/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
