[user]
	name = KoutarouYabe
	email = idolm@ster.pw
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[color]
	ui = auto
[alias]
	mylog = log --graph --name-status --pretty=format:\"%C(red)%h %C(green)%an %Creset%s %C(yellow)%d%Creset\"
	s = status -sb
	df = diff
	co = checkout
	b = branch
	l = log --oneline --decorate --graph
	la = log --oneline --decorate --graph --all
  f = fetch
  c = commit
  a = add

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f

