[user]
	name = Kotaro Yabe
	email = idolm@ster.pw
[core]
	excludesfile = /Users/tarosa/.gitignore_global
	editor = vim
	quotepath = false
[color]
	ui = auto
[alias]
	mylog = log --graph --name-status --pretty=format:\"%C(red)%h %C(green)%an %Creset%s %C(yellow)%d%Creset\"
	s = status -sb
	df = diff
	co = checkout
	b = branch
	l = log --oneline --decorate --graph
	la = log --oneline --decorate --graph --all
  f = fetch
  c = commit
  a = add

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
